<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  @@include('../partials/components/header.html')
    <div class="wrapper">
      @@include('../partials/sections/hero-section.html', {
      "title": "Web starter kit",
      "text": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eligendi nisi quae quidem rerum sunt, vero!"
      })
    </div>
  @@include('../partials/components/footer.html')

  @@include('../partials/scripts/common.html')
</body>

</html>
